body {
  background-image: url(https://i.imgur.com/i6CWQnO.jpeg);
  background-size: cover;
  margin: 0;
  font-family: 'roboto';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
ul {
  padding: 0 !important;
  list-style: none;
}
